@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}


.main {

    background-color: white;

    color: #FF4742;
    font-size: .7rem;

    z-index: 10;
    /* size */
    height: 50vh;
    width: 50vw;
    /* padding: 1rem 0; */
    padding: 0;

    /* color */
    
    /* center */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border */
    border-radius: 1rem;
    border: .1px solid var(--white-100);

    display: flex;
    flex-direction: row;
}

.box {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}


.slider {

    /* background: rgb(255,71,66);
    background: linear-gradient(90deg, rgba(255,71,66,1) 0%, rgba(255,94,94,1) 51%, rgba(255,71,66,1) 100%); */

    color: white;
    background: #FF4742;

    height: 100%;
    width: 50%;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    

    position: fixed;
    z-index: 10;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    overflow: hidden;

}

.slider p{
    font-weight: 600;
}

.slider-left {
    transform: translate(-100%, -50%);
    border-radius: 1rem 0 0 1rem;
}

.slider-right {
    transform: translate(0%, -50%);
    border-radius: 0 1rem 1rem 0;

}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 75%;
    height: 70%;

    /* background: blue; */
}

input {
    padding: .4rem;
    border-radius: .4rem;
    font-size: 1rem;
    color: #FF4742;
    font-weight: 600;
    padding: .5rem;

    border: 4px solid #FF4742;
}




.error-message {
    text-align: center;
    font-weight: 800;
    color: red;
}





.submit-btn {
    width: 50%;
    background: #FF4742;
    border: 1px solid #FF4742;
    color: #FFFFFF;

}

.submit-btn:hover,
.submit-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.submit-btn:active {
    opacity: .5;
}


.slider-btn {
    width: 50%;
    /* background: inherit; */
    background:none;
    border: 3px solid white;
    border-radius: 2rem;
    color: white;
}

.slider-btn:hover,
.slider-btn:active {
    background-color: white;
    background-position: 0 0;
    color: #FF4742;
}

.slider-btn:active {
    opacity: .5;
}


/* ========================== toggle button ========================== */
.toggle-button {
    background: yellow;
    height: 30px;
    width: 70px;
    border-radius: 2rem;
    display: relative;
  
    color: black;
  
    box-shadow: .1px .1px 5px white;
  }
  
  .toggle-button:hover {
    cursor: pointer;
  }
  
  .toggle-dot {
    z-index: 1;
    transition: .5s;
    position: absolute;
    background: white;
    border-radius: 2rem;
    height: 30px;
    width: 40px;
  }
  
  .toggle-icon {
    transition: .5s;
    border-radius: 2rem;
    position: absolute;
    width: 40px;
    height: 30px;
    transform: translateX(80%);
  
  }
  
  .toggle-icon-active {
    transform: translateX(0%);
  }
  
  .toggle-dot-active {
    transform: translateX(80%);
  }
  
  /* ========================== toggle button ========================== */
  
  /* todo page */
  .red{
    background-color: red;
}


.todo-form{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.todo-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item{
    width: 70vw;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    color: white;
    background-color: #FF4742;
    
    font-weight: 800;


    /* background-color: white; */
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.todo-checked{
    opacity: .5;
    text-decoration: line-through;
}

.add-btn{
    background-color: green;
    color: white;
    border: 3px solid white;
}

.add-btn:hover{
    background: white;
    color: green;
}

.delete-btn , .check-btn{
    color: white;
    border: 3px solid white;
    padding: .5rem 1rem;
    margin: .1rem;
}

.delete-btn{
    background: red;
}

.check-btn{
    background: green;
}


@media screen and (max-width:800px) {

    .main {


        height: 70vh;
        width: 80vw;

        

        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    .slider{
        height: 50%;
        width: 100%; 
    }

    

    .slider-right{
        transform: translate(-50%, -0%);
        border-radius: 0 0 1rem 1rem;
    }

    .slider-left{
        transform: translate(-50%, -100%);
        border-radius: 1rem 1rem 0 0;
    }


    .box h1{
        display: none;
    }

    .btn{
        width: 90%;
    }

}